*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: aspira;
    font-style: normal;
    src: url(fonts/aspira_regular.otf);
}
@font-face {
    font-family: aspira;
    font-style: medium;
    src: url(fonts/aspira_medium.otf);
}
@font-face {
    font-family: aspira;
    font-style: demi;
    src: url(fonts/aspira_demi.otf);
}
@font-face {
    font-family: aspira;
    font-style: bold;
    src: url(fonts/aspira_bold.otf);
}
@font-face {
    font-family: aspira;
    font-style: heavy;
    src: url(fonts/aspira_heavy.otf);
}
@font-face {
    font-family: aspira;
    font-style: blackfont;
    src: url(fonts/aspira_black.otf);
}

.logo{
    font-family: aspira;
    font-style: medium;
    font-size: 1.8vw; 
}