*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'aspira_heavy';
    font-style: heavy;
    src: url(fonts/aspira_heavy.otf);
}
@font-face {
    font-family: 'aspira_black';
    font-style: blackfont;
    src: url(fonts/aspira_black.otf);
}
@font-face {
    font-family: 'aspira_normal';
    font-style: normal;
    src: url(fonts/aspira_regular.otf);
}
@font-face {
    font-family: 'aspira_bold';
    font-style: bold;
    src: url(fonts/aspira_bold.otf);
}

body{
    margin: 4vw;
    margin-top: 2vw;
}
#header{
    position:absolute;
    top: 2.5vw;
    right: 4vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4vw;
}
.logo{
    font-family: 'aspira_bold';
    font-style: bold;
    color: rgb(50, 50, 50);
    font-size: 3.4vw; 
    line-height: 4.4vw;
}
p{
    font-family: 'aspira_normal';
    font-style: normal;
    color: rgb(50, 50, 50);
    font-size: 1.4vw;
    line-height: 2.4vw;
}
.tag{
    font-family: 'aspira_normal';
    font-style: normal;
    color: rgb(50, 50, 50);
    font-size: 1vw;
    line-height: 2vw;
}
.title{
    font-family: 'aspira_heavy';
    font-style: heavy;
    color: rgb(50, 50, 50);
    font-size: 2vw;
    line-height: 2.4vw;
}
#card_content{
    display: flex;
    max-width: 100%;
    gap: 4vw;
    flex-direction: row;
}
@media (max-width: 800px) {
    /* responsive flexbox */
    #card_content {
      flex-direction: column;
    }
    /* responsive font size */
}
#filter{
    width: 25%;
}
#card{
    width: 75%;
}
.cardbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 3vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}
.card{
    width: 15vw;
    height: 17vw;
    background-color: white;
    border-radius: 1.2vw;
    border: solid rgb(255, 79, 35);
    border-width: 1px;
    /* box-shadow: h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: 0px 4px 24px 2px rgba(0, 0, 0, 0.1);
    padding: 1.2vw;
}
.card_title{
    border-radius: 2vw;
    background-color: rgb(255, 79, 35);
    padding: 0.4vw;
    padding-left: 1.2vw;
}
.card_title_p{
    color: white;
    font-family: 'aspira_heavy';
    font-style: heavy;
}